#products img{
    width:100%;
    height:250px;
}
.success{
    color:green;
}
.danger{
    color:red;
}
div.bgform{
    background-color: "#a1bfeb";
}
.table-scroll {
    height: 300px; /* Set your desired height */
    overflow-y: auto; /* Enable vertical scrolling */
    display: block; /* Make the table a block element */
}
.table-scroll table {
    width: 100%; /* Full width */
    margin: 0; /* Remove margin */
}