<!--Footer Start-->
<footer class="bg-dark text-white p-1">
    <!-- <div>
        <p>Email:revestsolutions2024@gmail.com</p>
        <p>Phone No: 1234567890</p>
        <span>
            Adddress:
            <pre>
                RevestSolutions pvt ltd,
                Hyderabad-50055.
            </pre>
        </span>
    </div> -->
    <!-- <div class="container">
        
    </div> -->
    <div>
        <p class="text-left ms-3">email : revestsolutionsatgmail.com</p>
        <p class="text-left ms-3">Phone No : 1234567890</p>
        <div class="text-center copyrights-pos">&copy; All Copy Rights Reserved.</div>
        <div class="address-pos">
            <pre> 
                Address : 
                Revest Solutions pvt ltd.
                Hyderabad-50055.
            </pre>
        </div>
        
    </div>
</footer>
  <!--Footer End-->
