
div.copyrights-pos{
    position: absolute;
    margin-top: -55px;
    margin-left: 670px;
}

div.address-pos{
    position: absolute;
    margin-top: -100px;
    margin-left: 1250px;
}
div.footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
  }