
#products img{
    width:50%;
    height:150px;
}
.img-pos{
    margin-left:70px;
    margin-top:10px;
}
  div.table-scroll {
    height: 300px; /* Set your desired height */
    overflow-y: auto; /* Enable vertical scrolling */
    display: block; /* Make the table a block element */
  }